@import url("https://fonts.googleapis.com/css?family=Raleway:200");

/******* GENERAL ************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px Raleway;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

h3.title {
  font: normal 32px "Open Sans", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

.no-decoration {
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

/******* HERO STYLES *************/

.hero h1 {
  font: normal 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.hero h3 {
  font-size: 28px;
  font-weight: bold;
}

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 50vh;
  color: white;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db;
}

/******** ABOUT ME ********/

.summary {
  width: 80%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

.summary img {
  display: block;
  height: 200px;
}

.summary p,
.summary h3.title {
  text-align: left;
  padding: 0;
}

.summary .bio {
  padding-left: 20px;
}

/************ SKILLS **************/

.skills {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}

.skills li {
  text-align: center;
  flex-basis: 25%;
  padding: 5px;
}

.skills li h4 {
  text-align: center;
  padding-bottom: 5px;
}

.skills li i {
  color: #999;
  margin-bottom: 5px;
}

.skills li p {
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 10px;
}

/********* PROJECTS ******/

.projects p {
  margin-top: 0;
}

.projects {
  background-color: rgb(218, 227, 231);
}

ul {
  list-style: none;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -20px;
}

.grid li {
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  flex-basis: 50%;
  background-color: white;
}

.li-inner {
  padding: 20px;
}

.grid li h4 {
  font: lighter 18px "Open Sans", sans-serif;
  text-align: center;
  padding: 0 0 10px 0;
}

.grid li img {
  width: 90%;
  display: block;
  margin: auto;
}

.grid li p {
  margin: 0;
  padding: 20px 0 0 0;
  line-height: 1.5;
  font-size: 14px;
  text-align: left;
}

.bordered {
  border: 1px solid rgb(218, 227, 231);
}

hr {
  width: 250px;
  height: 1px;
  background-color: #333;
  border: 0;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }

  .grid li {
    flex-basis: 100%;
  }

  .skills li {
    flex-basis: 50%;
  }

  .summary {
    flex-wrap: wrap;
    justify-content: center;
  }

  .summary .bio {
    margin-top: 20px;
    padding-left: 0;
  }

  .summary h3.title {
    text-align: center;
  }
}
